@media (max-width: 480px) {
  //Mobile Navbar styles
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 100;
    background: white;
    box-shadow: -3px 3px 3px var(--main-black);
    padding-bottom: 1.5rem;
    nav {
      position: relative;
      padding: 1rem;
      top: 0;
      .align-btn {
        position: absolute;
        right: 5%;
        font-size: 1.5rem;
        padding-top: 0.5rem;
      }
      .navbar-logo {
        position: absolute;
        left: 5%;
      }
    }
    .index-sidebar {
      position: fixed;
      z-index: 50;
      min-width: 80vw;
      height: 100vh;
      background: white;
      top: 10%;
      padding: 2rem 3rem;
      transition: 1s linear;
      ul {
        li {
          list-style: none;
          margin: 1rem 0;
          font-size: 1.5rem;
        }
      }
      .buttons {
        position: absolute;
        bottom: 10%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        a {
          width: 50vw;
          padding: 0.5rem;
          text-align: center;
          font-size: 1rem;
          text-decoration: none;
          border: 1px solid var(--main-red);
          border-radius: 5px;
          margin: 0.5rem 0;
        }
        .login-btn {
          background: white;
          color: var(--main-red);
        }
        .signin-btn {
          background: var(--main-red);
          color: white;
        }
      }
    }
  }

  // index page banner styles

  .banner {
    min-height: 70vh;

    .banner-text {
      font-size: 2.7rem;
      max-width: 80vw;
    }
    .banner-btn {
      font-size: 1.2rem;
    }
  }
  .banner-img {
    position: relative;
    padding: 0 2rem;
    .top {
      margin-top: -12rem;
      width: 20rem;
      height: 20rem;
    }
    .desktop {
      margin-top: 0rem;
      width: 80vw;
      height: 20rem;
    }
    .phone {
      position: unset;
      width: 80vw;
      height: 20rem;
      background: transparent;
    }
  }
  .banner-section {
    position: absolute;
    z-index: 4;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: left;
    background: white;
    min-width: 80vw;
    margin-top: 0;
    padding: 1rem;
    h2 {
      font-size: 2.4rem;
      font-weight: 800;
      text-align: left;
    }
    p {
      font-size: 1.3rem;
      padding: 0.8rem 0;
    }
  }
  .links {
    margin: 3rem 0;
    display: block;
    .browse {
      margin-bottom: 2rem;
    }
    a {
      margin: 1rem 2rem 1rem 0;
      color: rgb(70, 138, 180) !important;
      font-size: 1rem;
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
      svg {
        margin-right: 0.5rem;
      }
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .app-section {
    display: block;
    margin-top: 30rem;
    padding: 4rem;
    text-align: center;

    .column {
      margin-bottom: 2rem;
      h1 {
        font-size: 1.4rem;
      }
      p {
        color: var(--main-black);
        font-size: 1.2rem;
        margin: 1rem 0;
      }
      .stars {
        margin: 0.6rem 0;
        svg {
          color: var(--main-black);
          font-size: 0.65rem;
        }
      }
    }
  }
  .video-section {
    display: block;
    padding: 1rem 0 0;
    .text {
      padding: 2rem;

      h5 {
        margin: 1rem 0;
        font-size: 1.4rem;
        text-align: center;
      }
      h1 {
        font-size: 2.4rem;
        text-align: center;
      }
      svg {
        font-size: 2rem;
        margin: 2rem 0.8rem;
        color: grey;
      }
    }
    .video {
      margin: 0 0 3rem 2rem;
      .vid {
        display: none;
        position: unset;
      }
      .videobg {
        display: none;
      }
      .play {
        display: flex;
        font-size: 5rem;
        position: unset;
        justify-content: center;
      }
      .btn-text {
        a {
          margin-right: 0;

          font-size: 1rem;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .desktop-tab {
    display: none;
  }
  .mobile-tab {
    display: block;
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      overflow-x: scroll;
      li {
        list-style: none;
        .card {
          width: 18rem;
          height: 18rem;
          box-shadow: -3px 3px var(--nav-hover-grey),
            3px -3px var(--nav-hover-grey);
          border-radius: 15px;
          margin: 1rem;
          padding: 1rem 0.5rem;
          h1 {
            font-size: 2rem;
          }
          h5 {
            font-size: 1rem;
            padding: 1rem;
            font-weight: 0;
            color: var(--main-black);
            margin-bottom: 0rem;
          }
          .card-bottom {
            p {
              font-size: 1.5rem;
              margin: 0 0 1rem 1rem;
              color: var(--main-black);
            }
            .cta {
              display: block;
              position: unset;
              font-size: 1rem;

              a {
                color: rgb(70, 138, 180) !important;
                position: unset;
                padding: 0 1rem;
                right: 0;
                text-decoration: none;
                svg {
                  margin-right: 0.5rem;
                }
              }
              a:hover {
                text-decoration: underline;
              }
              p {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
      .testimony-img {
        display: none;
      }
    }
  }
  .mission {
    display: block;
    padding: 1rem;
    .mission-text {
      padding: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        color: var(--nav-text);
        margin: 1rem 0;
      }
      a {
        color: rgb(70, 138, 180) !important;
        font-size: 1.5rem;
        text-decoration: none;

        svg {
          margin-right: 0.5rem;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .mission-img {
      display: none;
    }
  }
  .peace {
    display: block;
    background: rgba(243, 242, 242, 0.6);
    margin-top: 3rem;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    .peace-img {
      display: none;
    }
    .peace-text {
      font-size: 2rem;
      font-weight: 800;
      color: var(--main-black);
      margin-bottom: 2rem;
    }
    .peace-btn {
      margin: 2rem 5rem;
      width: fit-content;
      font-size: 1rem;
    }
  }
  .footer {
    display: block;
    padding: 0 0.5rem 3rem;
    background: rgba(243, 242, 242, 0.6);
    .foot-notes {
      padding: 2rem 3rem 0 0;
      width: 22.5rem;
      .header {
        display: grid;
        grid-template-columns: 1fr 4fr;
        font-size: 1rem;
        padding: 0;
      }
      .icons {
        margin-left: 3rem;
        p {
          margin: 0;
        }
        svg {
          font-size: 1.5rem;
          margin: 1rem;
        }
      }
    }
    .col {
      padding-left: 4rem;
      margin: 3rem 0;
      p {
        color: var(--nav-text);
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      ul {
        margin: 1rem 0;
        li {
          list-style: none;
          margin: 2rem 0;
          a {
            text-decoration: none;
            color: var(--main-black);
            text-transform: uppercase;
          }
          a:hover {
            text-decoration: underline;
          }
          strong {
            color: var(--main-hover-red);
            background: papayawhip;
            margin-left: 0.5rem;
            padding: 0.2rem 0.5rem;
          }
        }
      }
    }
  }

  .footer-bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1rem 2rem;
    ul {
      margin: 1rem 0rem;
      justify-content: center;
      align-items: center;
    }
    h5 {
      font-size: 1rem;
      margin: 1rem 0;
    }
    .footer-btn {
      position: unset;
      width: fit-content;
      padding: 0.4rem;
    }
  }

  //Login styles

  .login-page {
    .login-form {
      width: 100vw;
    }
  }

  //Todo Page styles

  //Header

  header {
    nav {
      width: 100vw;
      .nav-right {
        display: none;
      }
    }
  }

  //Sidebar

  .sidebar {
    width: 80vw;
    background: lightgrey;
    z-index: 50;
  }

  //Todo Page

  .todolist {
    width: 90vw;
    margin-left: 0vw;
  }
  .inbox-list {
    width: 90vw;
    margin-left: 0vw;
  }

  //delete Modal

  .modal-back {
    padding: 1rem 1rem 3rem;
    .modal {
      h5 {
        margin-bottom: 2rem;
        padding: 0 0 1rem;
        font-size: 1rem;
      }
      .buttons {
        margin-top: 2rem;
        right: 0;
        button {
          font-size: 0.8rem;
        }
      }
    }
  }
}
